<link href="${contextPath!}/css/style.css" rel="stylesheet" type="text/css" />
<link href="${contextPath!}/css/superfish.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="${contextPath!}/img/favicon.png"/>
<script type="${contextPath!}/text/javascript" src="${contextPath!}/js/jquery1.7.1.min.js"></script>
<script type="${contextPath!}/text/javascript" src="${contextPath!}/js/custom.js"></script>
<script type="${contextPath!}/text/javascript">
$(document).ready(function() {
	$('.small_PicBox').hover(function(){
		$(this).find('.boxHover').fadeIn();
		$(this).find('.boxHover span').animate({
			bottom: '0px'
		}, {queue:false});
	}, function(){
		$(this).find('.boxHover').fadeOut();
		$(this).find('.boxHover span').animate({
			bottom: '-36px'
		}, {queue:false});
	});
});
</script>
<!--[if IE 7]>
<style type="text/css">
	.container_bottom {*padding:12px 0 35px 0;}
    .contentBlock1 {*padding:0 0 15px 0;}
    .getPad1 {*padding:0px;}
    .full_width {*padding:40px 13px 0 28px;}
    .full_block_top {*padding:0 0 25px 0;}
    .content_main2 {*padding:12px 12px 0 12px;}
    .small_PicBox {*margin:0 8px -3px 0;}
    .getPad2 {*padding:12px 12px 0 12px;}
    .cont_bottom {*padding:12px 12px 0 12px;}
</style>
<![endif]-->
    <section class="container_middle"> <!--container_top Start-->
    	<section class="container_top"> <!--container_bottom Start-->
    		<section class="container_bottom"> <!--container_middle Start-->
         		<section class="content_main"> <!--content_main Start-->
                    <section class="content_left fltleft"> <!--content_left Start-->
                        <div class="contentBlock2"> <!--contentBlock1 Start-->
                        	<div class="dateShow"> <!--dateShow Start--> <strong>17</strong><small>五月, 2015</small></div> <!--dateShow Start-->
                            <div class="bannerBox2 fltright"> <!--bannerBox Start--> 
                                <div class="banner1"> <!--banner Start-->
                      				<a href="${contextPath!}/single_page_blog_1.html"><img src="${contextPath!}/img/blog_4.jpg" alt=""></a>         
                                </div> <!--banner End-->
                              <div class="clrflt"></div>
                                <h2><a href="${contextPath!}/single_page_blog.html">环保物流</a></h2>
<p>
                现代环保物流强调了全局和长远的利益，强调了全方位对环境的关注，体现了企业的绿色形象，是一种全新的物流形态。环保物流是一个多层次的概念，它既包括环保销售物流、环保生产物流，也包括环保供应物流；它既包括企业的环保物流活动，又包括社会对环保物流活动的管理、规范和控制。从环保物流活动的范围来看，它既包括各个单项的环保物流作业(如绿色运输、绿色包装、绿色流通加工等)，
                  
      </p>
                                
                                <div class="read_moreBox"> <!--read_moreBox Start-->
                                	<div class="readMore_btn1 fltleft">
                                    	<a href="${contextPath!}/single_page_blog.html">更多 &rarr;</a>
                                    </div>
                                    
                                    <div class="seecomment_menu fltright"> <!--seecomment_menu Start-->
                                    	<ul>
                                        	<li><a href="${contextPath!}/#">0 评论</a></li>
                                         
                                            <li class="nobr1"><a href="${contextPath!}/#">by admin</a></li>
                                        </ul>
                                    </div> <!--seecomment_menu End-->
                                    <div class="clear"></div>
                              </div> <!--read_moreBox End-->
                            </div> <!--bannerBox End-->
                            <div class="clear"></div>
                        </div> <!--contentBlock1 End--> 
                        
                        <div class="contentBlock2"> <!--contentBlock1 Start-->
                        <div class="dateShow"> <!--dateShow Start--> <strong>16</strong><small>五月, 2015</small></div> <!--dateShow Start-->
                            <div class="bannerBox2 fltright"> <!--bannerBox Start--> 
                                <div class="banner1"> <!--banner Start-->
                   				<a href="${contextPath!}/single_page_blog_1.html"><img src="${contextPath!}/img/blog_3.jpg" alt=""></a>                 
                                </div> <!--banner End-->
                                <div class="clrflt"></div>
                                <h2><a href="${contextPath!}/single_page_blog_1.html">产业生态位与绿色物流发展 </a></h2>
<p>
           随着经济的快速发展，环境问题日益凸显，物流业在运输、包装、回收、废弃物处理等诸多方面对环境造成巨大伤害，由物流业带来的环境恶化也越来越受到广泛关注。绿色物流、生态物流、低碳物流等倡导以环境保护为前提的物流新概念应运而生。物流产业发展的最终目标就是和环境协同共生，从生态位视角对物流产业的发展进行研究并指导实践，是物流业健康发展的前提，是绿色物流发展的保障，也是物流业与环境和谐共生的迫切需要。
                  
          </p>
                                
                                <div class="read_moreBox"> <!--read_moreBox Start-->
                                	<div class="readMore_btn1 fltleft">
                                    	<a href="${contextPath!}/single_page_blog_1.html">更多 &rarr;</a>
                                    </div>
                                    
                                    <div class="seecomment_menu fltright"> <!--seecomment_menu Start-->
                                    	<ul>
                                        	<li><a href="${contextPath!}/#">0 评论</a></li>
                                           
                                            <li class="nobr1"><a href="${contextPath!}/#">by admin</a></li>
                                        </ul>
                                    </div> <!--seecomment_menu End-->
                                    <div class="clear"></div>
                              </div> <!--read_moreBox End-->
                            </div> <!--bannerBox End-->
                            <div class="clear"></div>
                        </div> <!--contentBlock1 End--> 
                        
                        
                        
                        
                        
                        
                         <div class="contentBlock2"> <!--contentBlock1 Start-->
                        <div class="dateShow"> <!--dateShow Start--> <strong>15</strong><small>五月, 2015</small></div> <!--dateShow Start-->
                            <div class="bannerBox2 fltright"> <!--bannerBox Start-->
                          <h2><a href="${contextPath!}/single_page_blog_1.html">互联网物流战略</a></h2>
                                <p>
                                    现代信息技术特别是互联网的发展使利用互联网的物流管理具有成本低、实时动态和顾客推动的特征。   互联网物流战略是通过网上采购和配销，使企业更加准确和全面地把握消费者的需要，在实现基于顾客订货的生产方式的同时减少库存，降低沟通成本和顾客支持成 本，增强销售渠道开发能力的战略。

                            </p>
                                
                                <div class="read_moreBox"> <!--read_moreBox Start-->
                                	<div class="readMore_btn1 fltleft">
                                    	<a href="${contextPath!}/single_page_blog_1.html">更多 &rarr;</a>
                                    </div>
                                    
                                    <div class="seecomment_menu fltright"> <!--seecomment_menu Start-->
                                    	<ul>
                                        	<li><a href="${contextPath!}/#">0  评论</a></li>
                                            <li class="nobr1"><a href="${contextPath!}/#">by admin</a></li>
                                        </ul>
                                    </div> <!--seecomment_menu End-->
                                    <div class="clear"></div>
                              </div> <!--read_moreBox End-->
                            </div> <!--bannerBox End-->
                            <div class="clear"></div>
                        </div> <!--contentBlock1 End--> 
                        
                        
                        
                        
                        
                        
                        <div class="contentBlock2 getPad1 nobr2"> <!--contentBlock1 Start-->
                        <div class="dateShow"> <!--dateShow Start--> <strong>15</strong><small>五月, 2015</small></div> <!--dateShow Start-->
                            <div class="bannerBox2 fltright"> <!--bannerBox Start--> 
                                <div class="banner1"> <!--banner Start-->
                         <a href="${contextPath!}/single_page_blog_1.html"><img src="${contextPath!}/img/blog_4.jpg" alt=""></a>          
                                </div> <!--banner End-->
                                <div class="clrflt"></div>
                                <h2><a href="${contextPath!}/single_page_blog_1.html">物联网在物流中的应用</a></h2>
<p>
                  物联网是继计算机、互联网与移动通信网之后的又一次信息产业浪潮。随着传感器、软件、网络等关键技术快速发展，物联网产业规模快速增长，应用领域广泛拓展，为现代物流发展奠定了基础。
  物联网在现代物流中具有爆发力强、关联度大、渗透性高、应用范围广的特点。现代物流业属于物联网带动产业，现代物流行业在发展过程中必须兼顾传感器、传感网芯片、传感节点、操作系统、数据库软件、中间件、应用软件、系统集成、网络等环节。    </p>
                                
                                <div class="read_moreBox"> <!--read_moreBox Start-->
                                	<div class="readMore_btn1 fltleft">
                                    	<a href="${contextPath!}/single_page_blog_1.html">更多 &rarr;</a>
                                    </div>
                                    
                                    <div class="seecomment_menu fltright"> <!--seecomment_menu Start-->
                                    	<ul>
                                        	<li><a href="${contextPath!}/#">0 comments</a></li>
                                              <li class="nobr1"><a href="${contextPath!}/#">by admin</a></li>
                                        </ul>
                                    </div> <!--seecomment_menu End-->
                                    <div class="clear"></div>
                              </div> <!--read_moreBox End-->
                            </div> <!--bannerBox End-->
                            <div class="clear"></div>
                        </div> <!--contentBlock1 End--> 
                        
                        <div class="clear"></div>
                        <div class="entryBox"> <!--entryBox Start-->
                        <ul>
                            	<li><a href="#"></a></li>
                                <li class="nobr3"><a href="blog.html">下一页 &raquo;</a></li>
                            </ul>

                        </div> <!--entryBox End-->
                    </section> <!--content_left End-->
                    
                    
                    <aside class="content_right fltright"> <!--content_right Start-->
                    	<form action="#" method="post">
                            <div class="search_box"> <!--search_box Start-->
                                <input name="" type="text" class="search_boxText" value="请查询..." onClick="this.value='';" 
                                onfocus="this.select()" onBlur="this.value=!this.value?'To search type and hit enter...':this.value;" />
                            </div> <!--search_box End-->
                        </form>
                        
                        <section class="catagories_box">
                        	<h2>分类</h2>
                            <ul>
                                <li><a href="${contextPath!}/#">公司新闻</a><span> (8)</span></li>
                                <li><a href="${contextPath!}/#">物联网新闻</a><span> (4)</span></li>
                                <li><a href="${contextPath!}/#">工作信息</a><span> (5)</span></li>
                                <li><a href="${contextPath!}/#">公告</a><span> (2)</span></li>
                                <li><a href="${contextPath!}/#">其它</a><span> (1)</span></li>
                            </ul>
                        </section>
                        
                        <section class="catagories_box">
                        	<h2>最新更新</h2>
                            	<div class="small_PicBox get_mar2 rwork_Box"> <!--small_box Start-->
                                	<a href="${contextPath!}/#"><img src="${contextPath!}/img/portfolio/portfolio_pic4.jpg" alt=""></a>
                                    <div class="boxHover"><a href="${contextPath!}/single_page_portfolio.html"><span>Chief's Skincare (Logo)</span></a></div>
                                </div> <!--small_box End-->
                                <div class="clear"></div>
                            	<div class="small_PicBox get_mar2 rwork_Box"> <!--small_box Start-->
                                	<a href="${contextPath!}/#"><img src="${contextPath!}/img/portfolio/portfolio_pic5.jpg" alt=""></a>
                                    <div class="boxHover"><a href="${contextPath!}/single_page_portfolio.html"><span>Wired UK (Illustartion)</span></a></div>
                                </div>
                                <div class="clear"></div>
                        </section>
                        
                        <section class="catagories_box">
                        	<h2>最近焦点</h2>
                            <ul>
                                <li><a href="${contextPath!}/#"><span>admin</span> - 环保物流</a></li>
                                <li><a href="${contextPath!}/#"><span>admin</span> - 产业生态位与绿色物流发展</a></li>
                                <li><a href="${contextPath!}/#"><span>admin</span> - 浅议绿色物流与生态环境保护的关系与策略</a></li>
                                <li><a href="${contextPath!}/#"><span>root</span> - 产业生态与绿色物流</a></li>
                                <li><a href="${contextPath!}/#"><span>sa</span> - 物流生态系统</a></li>
                            </ul>
                        </section>
                         <section class="catagories_box">
                        	<h2>其它</h2>
                        </section>
                    </aside> <!--content_right End-->
        			<div class="clrflt"></div>
        		</section> <!--content_main End-->
            </section> <!--container_middle End-->    	
        </section> <!--container_bottom End-->

    </section> <!--container_top End-->

