<header class="header_wrapper">
	<!--header_wrapper Start-->
	<div class="header">
		<!--header Start-->
		<div class="logo fltleft">
			<a href="#"><img src="${contextPath!}/img/logo.png" alt="" /></a>
		</div>
		<div class="navigation fltright">
			<!--navigation Start-->
			<ul class="sf-menu">
				<li class="active"
					onclick="loadHtml('/Lib908/home','#div_container')"><a
					href="#">首页</a></li>
				<li onclick="loadHtml('/Lib908/probe','#div_container')"><a
					href="#">新闻中心</a></li>
				<li onclick="loadHtml('/Lib908/fruit','#div_container')"><a
					href="#">生态服务</a>
					<ul>
						<li onclick="loadHtml('/Lib908/fruit/science','#div_container')"><a
							href="#">物流服务</a></li>
						<li onclick="loadHtml('/Lib908/fruit/tech','#div_container')"><a
							href="#">用户服务</a></li>
						<li onclick="loadHtml('/Lib908/fruit/pantent','#div_container')"><a
							href="#">系统服务</a></li>
					</ul></li>
				<li onclick=""><a href="#">工作中心</a>
					<ul>
						<li onclick="loadHtml('${cxt}/logistics','')"><a href="#">物流管理</a></li>
						<li onclick="loadHtml('${cxt}/logistics5/jf/platform/login','')"><a
							href="#">信息系统管理</a></li>
						<li onclick="loadHtml('/Lib908/login1','#div_container')"><a href="#">开放接口</a></li>
					</ul></li>
				<li onclick="loadHtml('/Lib908/resource','#div_container')"><a
					href="#">资源中心</a>/</li>
				<li onclick="loadHtml('/Lib908/aboutUs','#div_container')"><a
					href="#">关于我们</a></li>
			</ul>

		</div>
		<!--navigation End-->
	</div>
	<!--header End-->
</header>
<!--header_wrapper End-->