<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>生态物流</title>
<!-- this is the css start -->
<link href="${contextPath!}/css/style.css" rel="stylesheet"
	type="text/css" />
<link href="${contextPath!}/css/superfish.css" rel="stylesheet"
	type="text/css" />
<script type="text/javascript" src="${contextPath!}/js/jquery.mousewheel.js"></script>
<!-- For progressively larger displays -->
<link href="${contextPath!}/assets/css/screen.css" rel="stylesheet" media="screen" />
<link href="${contextPath!}/css/jquery.jscrollpane.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" media="only screen and (min-width: 768px)"
	href="${contextPath!}/assets/css/screen_768.css" />
<link rel="stylesheet" href="${contextPath!}/media/stylesheets/base.css" />
<link rel="stylesheet"
	href="${contextPath!}/media/scripts/gridslider/gridslider.css" />
<!-- this is the script end -->
<!--[if IE 7]>
    <link href="${contextPath!}/media/stylesheets/ie7.css" rel="stylesheet"  />
    <![endif]-->
<!--[if IE 8]>
    <link href="${contextPath!}/media/stylesheets/ie8.css" rel="stylesheet"  />
    <![endif]-->
<!--[if lte IE 8]>
    <link href="${contextPath!}/media/stylesheets/lteie8.css" rel="stylesheet" />
    <![endif]-->
<!--[if lte IE 9]>
    <link href="${contextPath!}/media/stylesheets/lteie9.css" rel="stylesheet"  />
    <![endif]-->
<!--[if lte IE 7]><link href="${contextPath!}/assets/css/screen_ie.css" rel="stylesheet" media="screen" />
<![endif]-->
<!--[if IE 6]><link href="${contextPath!}/assets/css/screen_ie6.css" rel="stylesheet" media="screen" />
<![endif]-->
<!--[if IE 7]>
<style type="text/css">
	.container_bottom {*padding:12px 0 35px 0;}
    .contentBlock1 {*padding:0 0 15px 0;}
    .getPad1 {*padding:0px;}
    .full_width {*padding:40px 13px 0 28px;}
    .full_block_top {*padding:0 0 25px 0;}
    .content_main2 {*padding:12px 12px 0 12px;}
    .small_PicBox {*margin:0 8px -3px 0;}
    .getPad2 {*padding:12px 12px 0 12px;}
    .cont_bottom {*padding:12px 12px 0 12px;}
</style>
<![endif]-->
<style>
<!--
[if IE 7]> <style type ="text/css">.container_bottom {
	*padding: 12px 0 20px 0;
}

.contentBlock1 {
	*padding: 0 0 15px 0;
}

.getPad1 {
	*padding: 0px;
}

.full_width {
	*padding: 40px 13px 0 28px;
}

.full_block_top {
	*padding: 0 0 25px 0;
}

.content_main2 {
	*padding: 12px 12px 0 12px;
}

.small_PicBox {
	*margin: 0 8px -3px 0;
}

.getPad2 {
	*padding: 12px 12px 0 12px;
}

.cont_bottom {
	*padding: 12px 12px 0 12px;
}

.get_mar2 {
	*margin: 0 8px 0 0 !important;
}
</style>
<!--[endif]-->

<!-- this is the script start -->
<script type="text/javascript"
	src="${contextPath!}/js/jquery1.7.1.min.js"></script>
	<script type="text/javascript"
	src="${contextPath!}/js/main.js"></script>
<script type="text/javascript"
	src="${contextPath!}/js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="${contextPath!}/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="${contextPath!}/js/jquery.easing.1.3.js"></script>
	<script src="${contextPath!}/assets/js/onload.js"></script>
	<script type="text/javascript" src="${contextPath!}/js/loopedslider.js"></script>
	<script type="text/javascript" src="${contextPath!}/js/slides.min.jquery.js"></script>
<script
	src="${contextPath!}/media/scripts/gridslider/gridslider.1.0.min.js"></script>
<script src="${contextPath!}/media/scripts/main.js"></script>
<script>
	document.getElementsByTagName('html')[0].setAttribute('id', 'js-1')
</script>
<!-- this is the script end -->
<!--[if lte IE 8]>
    <script src="${contextPath!}/media/scripts/lteie8.js"></script>
    <![endif]-->
<!-- TYPEKIT 
    <script type="text/javascript" src="http://use.typekit.com/moe8cac.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
<!-- JAVASCRIPT -->
<!-- <script src="${contextPath!}/media/scripts/libs/jquery.easing.js"></script> -->
<!-- <script src="${contextPath!}/media/scripts/gridslider/gridslider.js"></script> -->
 <!-- <script src="http://newadventuresconf.com/mint/?js"></script> -->
</head>

<body class="bg7">
<!--  /*${date(),'yyyy-MM-dd:hh:mm:ss'}*/-->
	<% include("/front/header.html"){} %>
	<!--header_wrapper End-->
	<div id="div_container">
						<% #ajax indexContent:{ %>
						
						<%
						   var goState;		
						   if(has(urlState)){
						      goState=urlState;
						   }
						   else{
						     goState=0;  
						   }
						   switch(goState){
						        case 1:
						        include("/front/content.html"){};
						        break;
						        case 2:
						        include("/front/probe/index.html"){};
						        break;
						        case 3:
						        include("/front/fruit/index.html"){};
						        break;
						        case 31:
						        include("/front/fruit/sicence_index.html"){};
						        break;
						        case 32:
						        include("/front/fruit/patent_index.html"){};
						        break;
						        case 33:
						        include("/front/fruit/tech_index.html"){};
						        break;
						        case 4:
						        include("/front/work/index.html"){};
						        break;
						        case 5:
						        include("/front/resource/index.html"){};
						        break;
						        case 6:
						        include("/front/us/aboutus.html"){};
						        break;
						        case 7:
						        include("/platform/login.html"){};
						        break;
						        case 8:
						        include("/login.html"){};
						        break;
						        default:
						        include("/front/content.html"){};
						        }
						       %>	
						     
						       <!-- ICONS -->
<link rel="shortcut icon" href="${contextPath!}/img/favicon.png" />						
						<%}%>
					  	</div>
		<!-- footer -->
		<% include("/front/footer.html"){} %>
</body>
</html>