<!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="utf-8">
	<title>后台管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		  content="${contextPath},-${contextPath}-1-${ctx}, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<link id="bs-css" href="${contextPath}/css/bootstrap-cerulean.min.css"
		  rel="stylesheet"/>
	<!-- The styles -->
	<link href="${contextPath}/css/charisma-app.css" rel="stylesheet"/>
	<!-- sfkdskf-->

	<link href='${contextPath}/bower_components/chosen/chosen.min.css'
		  rel='stylesheet'/>
	<link
			href='${contextPath}/bower_components/colorbox/example3/colorbox.css'
			rel='stylesheet'/>
	<link
			href='${contextPath}/bower_components/responsive-tables/responsive-tables.css'
			rel='stylesheet'/>
	<link
			href='${contextPath}/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css'
			rel='stylesheet'/>
	<link href='${contextPath}/css/jquery.noty.css' rel='stylesheet'/>
	<link href='${contextPath}/css/noty_theme_default.css' rel='stylesheet'/>
	<link href='${contextPath}/css/elfinder.min.css' rel='stylesheet'/>
	<link href='${contextPath}/css/elfinder.theme.css' rel='stylesheet'/>
	<link href='${contextPath}/css/jquery.iphone.toggle.css'
		  rel='stylesheet'/>
	<link href='${contextPath}/css/uploadify.css' rel='stylesheet'/>
	<link href='${contextPath}/css/animate.min.css' rel='stylesheet'/>

	<!-- The fav icon -->
	<link rel="shortcut icon" href="${contextPath!}/img/favicon.ico">


	<!-- jQuery -->
	<script type="text/javascript"
			src="${contextPath}/js/jquery.min.js"></script>
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<script type="text/javascript"
			src="${contextPath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- library for cookie management -->
	<script type="text/javascript" src="${contextPath}/js/jquery.cookie.js"></script>
	<!-- calender plugin -->
	<script type="text/javascript"
			src='${contextPath}/bower_components/moment/min/moment.min.js'></script>

	<!-- data table plugin -->
	<script type="text/javascript"
			src='${contextPath}/js/jquery.dataTables.min.js'></script>
	<!-- select or dropdown enhancer -->
	<script type="text/javascript"
			src="${contextPath}/bower_components/chosen/chosen.jquery.min.js"></script>
	<!-- plugin for gallery image view -->
	<script type="text/javascript"
			src="${contextPath}/bower_components/colorbox/jquery.colorbox-min.js"></script>
	<!-- notification plugin -->
	<script type="text/javascript" src="${contextPath}/js/jquery.noty.js"></script>
	<!-- library for making tables responsive -->
	<script type="text/javascript"
			src="${contextPath}/bower_components/responsive-tables/responsive-tables.js"></script>
	<!-- tour plugin -->
	<script type="text/javascript"
			src="${contextPath}/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>

	<!-- for iOS style toggle switch -->
	<script type="text/javascript"
			src="${contextPath}/js/jquery.iphone.toggle.js"></script>
	<!-- autogrowing textarea plugin -->
	<script type="text/javascript"
			src="${contextPath}/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<script type="text/javascript"
			src="${contextPath}/js/jquery.uploadify-3.1.min.js"></script>
	<!-- history.js for cross-browser state change on ajax -->
	<script type="text/javascript" src="${contextPath}/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script type="text/javascript" src="${contextPath}/js/charisma.js"></script>
	<script type="text/javascript" src="${contextPath}/js/main.js"></script>
	<script type="text/javascript"
			src="${contextPath}/js/jquery.raty.min.js"></script>
</head>
<body>
<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation"><%
	include("/platform/top.html"){}%>
</div>
<!-- topbar ends -->
<div class="ch-container">
	<div class="row">
		<!-- left menu starts -->
		<div class="col-sm-2 col-lg-2">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<!-- the menu content-->
					<%
					include("/platform/power/"+session.powerNav+".html"){}
					%>
				</div>
			</div>
		</div>
		<!--/span-->
		<div id="content" class="col-lg-10 col-sm-10">

			<!-- left menu ends -->
			<% #ajax indexContent:{
			var goState;
			if(has(urlState)){
			goState=urlState;
			urlState=0;
			}else{
			goState=0;
			}
			switch(goState){
			case "user-list":
			include("/platform/user/list.html"){};
			break;
			case "user-add":
			include("/platform/user/add.html"){};
			break;
			case "user-index":
			include("/platform/user/index.html"){};
			break;
			case "tools-ueditor":
			include("/tools/ueditor.html"){};
			break;
			case "news-type-add":
			include("/platform/news/type_add.html"){};
			break;
			case "news-type-index":
			include("/platform/news/type_index.html"){};
			break;
			case "news-type-list":
			include("/platform/news/type_list.html"){};
			break;
			case "news-add":
			include("/platform/news/add.html"){};
			break;
			case "news-list":
			include("/platform/news/list.html"){};
			break;
			case "logo-config":
			include("/platform/news/logo_config.html"){};
			break;
			case "news-config":
			include("/platform/news/news_config.html"){};
			break;
			case "module-add":
			include("/platform/module/add.html"){};
			break;
			case "module-list":
			include("/platform/module/list.html"){};
			break;
			case "module-config":
			include("/platform/module/config.html"){};
			break;
			default:
			include("/platform/content.html"){};
			}
			}%>
			<!-- content ends -->
		</div>

		<!--/#content.col-md-0-->
	</div>
	<% include("/platform/notify.html"){} %>
	<!--/fluid-row-->
	<hr/>
	<!-- 	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					- litte model menu
				</div>
			</div>
		</div> -->
	<footer class="row"> <% include("/platform/footer.html"){}%>
	</footer>
</div>
</body>
<!-- scripts for load -->

</html>


