<script type="text/javascript">
	$(document).ready(function() {
		$('.slider1').cycle({
			fx : 'scrollHorz',
			timeout : 1000,
			cleartype : false, // disable cleartype corrections
			next : '.rightArrow4',
			prev : '.arrowLeft4',
			pager : '.pager'
		});
		$('.small_PicBox').hover(function() {
			$(this).find('.boxHover').fadeIn();
			$(this).find('.boxHover span').animate({
				bottom : '0px'
			}, {
				queue : false
			});
		}, function() {
			$(this).find('.boxHover').fadeOut();
			$(this).find('.boxHover span').animate({
				bottom : '-36px'
			}, {
				queue : false
			});
		});

	});
</script>

<section class="container_middle">
	<!--container_top Start-->
	<section class="container_top">
		<!--container_bottom Start-->
		<section class="container_bottom">
			<!--container_middle Start-->
			<section class="content_main leftpad">
				<!--content_main Start-->
				<section class="content_left0 fltleft">
					<!--content_left Start-->
					<div class="contentBlockabout">
						<!--contentBlock1 Start-->
						<div class="bannerBox">
							<!--bannerBox Start-->
							<div class="banner">
								<!--banner Start-->
								<div class="slider1" style="width:967px; height:242px;">
									<img src="${contextPath!}/img/slider1.jpg" alt="" /> <img
										src="${contextPath!}/img/slider2.jpg" alt="" /> <img
										src="${contextPath!}/img/slider1.jpg" alt="" /> <img
										src="${contextPath!}/img/slider2.jpg" alt="" />
								</div>
								<div class="pager"></div>
								<div class="arrowLeft4">
									<a href="#"></a>
								</div>
								<div class="rightArrow4">
									<a href="#"></a>
								</div>
							</div>
							<!--banner End-->
							<div class="clrflt"></div>
							<div class="bannerBox">

								<div id="content_wrapper">

									<div class="content_top">
										<!--content_top-->
										<div class="top_info">
											<h2>体系介绍</h2>
											<p>本项目为长春工业大学应用技术学院本科毕业设计《基于物联网与互联网的生态物流体系设计》的一个子模块。目的是为了让该物流系统运行更加高效率，让用户使用的更加方便、快捷，让物流更加能服务自然。</p>
										</div>
										<div class="top_info2">
											<h2>项目开发信息</h2>
											<p>本项目开发者：龚文东</br>
本项目指导老师：王春影</br>
本项目运行硬件平台：Android平台，苹果平台，PC等</br>
本项目运行软件环境：百度开发平台服务，易信开发平台服务。</p>
										</div>
										<div class="clrflt">
							</div>
									</div>


									<!--member_area-->
									<div class="quotes">

										<blockquote>
											<p>&ldquo;本项目为长春工业大学应用技术学院本科毕业设计《基于物联网与互联网的生态物流体系设计》的一个子模块。目的是为了让该物流系统运行更加高效率，让用户使用的更加方便、快捷，让物流更加能服务自然。
				&rdquo;</p>
											<p class="cite">
												<cite>&mdash;<a href="#">此致声明</a></cite>
											</p>
										</blockquote>

										<blockquote>
											<p>&ldquo;感谢前人无论是有意的还是无意的帮助！谢谢你们的帮助。以及在校指导老师的帮助&rdquo;</p>
											<p class="cite">
												<cite>&mdash;<a href="http://twitter.com/fiximGFX">寄语</a></cite>
											</p>
										</blockquote>

									</div>

									<div class="finally">

										<h2>联系方式</h2>

										<p>
										
										</p>

										<p>
											<strong class="sponsor_highlight">我们欢迎您的加入，是否愿意加入？</strong> 联系我们可以<span> 通过以下邮箱</span> <a
												href="mailto:hello@mail.ccut.edu.com">hello@mail.ccut.edu.com</a> 更多联系
										</p>

									</div>

								</div>

							</div>
							<!--bannerBox End-->
							<div class="clear"></div>
						</div>
						<!--bannerBox End-->
						<div class="clear"></div>
					</div>
					<!--contentBlock1 End-->
					<!--content_box1 End-->
					<div class="clear"></div>
					</div>
					<!--contentBlock1 End-->


					<div class="clear"></div>
				</section>
				<!--content_left End-->

				<div class="clrflt"></div>
			</section>
			<!--content_main End-->
		</section>
		<!--container_middle End-->
	</section>
	<!--container_bottom End-->

</section>
<!--container_top End-->